@model WebBanVaLi_TTK.Models.tDanhMucSP

@{
    ViewBag.Title = "ProductsDetail";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div>
    <h4>
        @Html.DisplayFor(model => model.TenSP)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaChatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NganLapTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NganLapTop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKichThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKichThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanNang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanNang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoNoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoNoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHangSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHangSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNuocSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNuocSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDacTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDacTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBaoHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBaoHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiThieuSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiThieuSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChietKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChietKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

    </dl>
</div>